.slider
{
     margin:6rem 12rem;
     height: 20rem;
     width: 36rem;
     background-size: 100% 100%;
     box-shadow: 20px 20px 10px grey;
     animation:slider 10s linear infinite;
}
@keyframes slider{
    0%{
        background-image: url('images/sun.jpeg');
     }
    30%{
           background-image:url('images/sun.jpeg');
    }
    60%{
        background-image: url('images/sunset.jpeg');
    }
    80%
    {
        background-image: url('images/night.jpeg');
    }
    100%{
        background-image: url('images/night1.jpeg');
    }
}